.privacy-explain .each-explain {
	margin-bottom: 10px;
}

.privacy-explain .head-text {
	font-size: 20px;
	color: #0070BA;
}

.privacy-explain i {
	font-size: 15px;
	font-weight: lighter;
	color: #000;
}

.privacy-explain .body-text {
	margin-left: 25px;
	font-weight: bold;
	display: none;
}

