/*----------------------------------------------------------------------

[-----*** TABLE OF CONTENT ***-----]

1. Header - Topbar
2. Header - Navbar
3. Header - Responsive Navbar Style
4. Header - Submenu
5. Header - Mega Menu
6. Header - Fixed
-----------------------------------------------------------------------*/


/*--------------------------------------------------
    [1. Header - Topbar]
----------------------------------------------------*/

/*Top Bar (login, search etc.)
------------------------------------*/
.topbar-v1 {
	background: #fdfdfd;
	border-top: solid 1px #f0f0f0;
	border-bottom: solid 1px #f0f0f0;
}

/*Top Contacts*/
.topbar-v1 ul {
	margin: 0;
}

.topbar-v1 .top-v1-contacts {
	margin-top: 8px;
	font-size: 12px;
}

.topbar-v1 .top-v1-contacts i {
	color: #999;
	font-size: 12px;
	margin-right: 3px;
}

/*Top Data*/
.topbar-v1 .top-v1-data {
	text-align: right;
}

.topbar-v1 .top-v1-data li {
	padding: 7px 11px;
	margin-right: -4px;
	display: inline-block;	
	border-right: solid 1px #eee;
}

.topbar-v1 .top-v1-data li a {
	font-size: 12px; 
}

.topbar-v1 .top-v1-data li a:hover {
	text-decoration: none;
}

.topbar-v1 .top-v1-data li i {
	color: #777;
	font-size: 13px;
}

.topbar-v1 .top-v1-data li a:hover i {
	color: #007BC3;
}

/*Responsive Topbar v1*/
@media (max-width: 991px) {
	.topbar-v1 ul {
		text-align: center !important;
	}

	.topbar-v1 .top-v1-contacts {
		margin: 10px 0;
	}

	.topbar-v1 .top-v1-data li {
		top: 1px;
		padding: 6px 16px;
		margin-left: -1px;
		position: relative;
		border-top: solid 1px #eee;
	}		

	.topbar-v1 .top-v1-data li:first-child {
		border-left: solid 1px #eee;
	}		
}

@media (min-width: 992px) {
	.topbar-v1 .top-v1-data li:last-child {
		margin-right: 0;
		border-right: none;
	}
}

/*--------------------------------------------------
    [2. Header - Navbar]
----------------------------------------------------*/

/*Navbar*/
.header-v4 {
	z-index: 99;
	position: relative;
}

.header-v4 .navbar {
	margin: 0;
}

.header-v4 .navbar-default {
	border: none;
	background: none;
}

.header-v4 .navbar-header {
	float: none;
	margin: 10px 0;
}

@media (max-width: 991px) {
	.header-v4 .navbar-header {
		margin: 20px 0 0;
	}
}

/*Navbar Brand*/
.header-v4 .navbar-brand {
	float: none;
}

.header-v4 .navbar-brand img {
	margin: 0 auto;
}

.header-v4 .navbar-nav {
	float: left;
	margin-top: -1px;
}

/*Navbar Toggle*/
.header-v4 .navbar-default .navbar-toggle {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
	border-color: #eee;
}

.header-v4 .full-width-menu {
	top: -1px;
	color: #777;
	float: left;
	font-size: 14px;
	margin-right: 10px;
	position: relative;
	text-transform: uppercase;
}

.header-v4 .navbar-default .navbar-toggle .icon-toggle {
	height: 1px;
	width: 25px;
	float: right;
	font-size: 19px;
	margin: 2px 0 7px;
}

.header-v4 .navbar-default .navbar-toggle .icon-toggle:last-child {
	margin-bottom: 0;
}

.header-v4 .navbar-toggle,
.header-v4 .navbar-default .navbar-toggle:hover, 
.header-v4 .navbar-default .navbar-toggle:focus {
	background: #f7f7f7;
	padding: 12px 10px 8px;
}

@media(max-width: 768px) {
	.header-v4 .navbar-default .navbar-toggle {
		margin: -1px 0 0;
	}
}

/*Navbar Collapse*/
.header-v4 .navbar-collapse {
	padding: 0;
	border-top: none;
	position: relative;
}

/*Navbar Menu*/
.header-v4 .navbar-default .navbar-nav > li > a {
	color: #687074;
	font-size: 15px;
	font-weight:400;
	text-transform: uppercase;
}

.header-v4 .navbar-default .navbar-nav > .active > a {
	color: #007BC3;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}


/*--------------------------------------------------
    [3. Header - Responsive Navbar Style]
----------------------------------------------------*/

/*Responsive Navbar*/
@media (max-width: 991px) {
	/*Responsive code for max-width: 991px*/
    .header-v4 {
        margin-bottom: 20px;
    }

    .header-v4 .navbar-header {
        float: none;
    }
    
    .header-v4 .navbar-toggle {
        display: block;
    }
    
    .header-v4 .navbar-collapse.collapse {
        display: none !important;
    }
    
    .header-v4 .navbar-collapse.collapse.in {
        display: block !important;
  		overflow-y: auto !important;
    }
    
    .header-v4 .navbar-nav {
        margin: 0 15px;
        float: none !important;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }

    .header-v4 .navbar-nav.navbar-border-bottom {
    	margin-right: 15px;
    	padding-bottom: 5px;
    	border-bottom: 1px solid #eee;
    }

    .header-v4 .navbar-nav > li {
        float: none;
    }
    
    .header-v4 .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    /*Pull Right*/
    .header-v4 .dropdown-menu.pull-right {
		float: none !important;
	}

	/*Dropdown Menu Slide Down Effect*/
	.header-v4 .navbar-nav .open .dropdown-menu {
		border: 0;
		float: none;
		width: auto;
		margin-top: 0;
		position: static;
		box-shadow: none;
		background-color: transparent;
	}

	.header-v4 .navbar-nav .open .dropdown-menu > li > a,
	.header-v4 .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	
	.header-v4 .navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	
	.header-v4 .navbar-nav .open .dropdown-menu > li > a:hover,
	.header-v4 .navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}

	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
	}

	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
		background-color: transparent;
	}
	
	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	
	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}	

	.header-v4 .navbar-default .dropdown-menu.no-bottom-space {
		padding-bottom: 0;
	}

  	/*Design for max-width: 1200px*/
  	.header-v4 .navbar-collapse,
	.header-v4 .navbar-collapse .container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.header-v4 .navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
	}

	.header-v4 .navbar-default .navbar-nav > li a {
		border-bottom: solid 1px #eee;
	}	

	.header-v4 .navbar-default .navbar-nav > li > a:focus {
		background: none;
	}

	.header-v4 .navbar-default .navbar-nav > li > a:hover {
		color: #007BC3;
	}

	.header-v4 .navbar-default .navbar-nav > .active > a,
	.header-v4 .navbar-default .navbar-nav > .active > a:hover,
	.header-v4 .navbar-default .navbar-nav > .active > a:focus {
		background: inherit;
		color: #007BC3 !important;	
	}

	.header-v4 .dropdown .dropdown-submenu > a { 
		font-size: 13px;
		color: #333 !important;
		text-transform: uppercase;
	}
}

@media (min-width: 992px) {
	.header-v4 {
		border-bottom: none;
	}

	.header-v4 .navbar-collapse {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	/*Navbar Nav*/
	.header-v4 .navbar-default .navbar-nav > li {
		margin-left: -1px;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.header-v4 .navbar-default .navbar-nav > li.no-border,
	.header-v4 .navbar-default .navbar-nav > li.no-border:first-child {
		border-left: none;
		border-right: none;
	}

	.header-v4 .navbar-default .navbar-nav > li > a {
		font-size: 13px;
		padding: 10px 30px 11px 20px;
	}

	.header-v4 .navbar-default .navbar-nav > li > a,
	.header-v4 .navbar-default .navbar-nav > li > a:focus {	
		border-top: solid 2px transparent;
	}

	.header-v4 .navbar-default .navbar-nav > li > a:hover,
	.header-v4 .navbar-default .navbar-nav > .active > a {
		border-top: solid 2px #007BC3;
	}
	
	.header-v4 .navbar-default .navbar-nav > li > a,
	.header-v4 .navbar-default .navbar-nav > li > a:hover,
	.header-v4 .navbar-default .navbar-nav > li > a:focus,	
	.header-v4 .navbar-default .navbar-nav > .active > a, 
	.header-v4 .navbar-default .navbar-nav > .active > a:hover, 
	.header-v4 .navbar-default .navbar-nav > .active > a:focus {
		background: none;
	}

	.header-v4 .navbar-default .navbar-nav > .open > a,
	.header-v4 .navbar-default .navbar-nav > .open > a:hover,
	.header-v4 .navbar-default .navbar-nav > .open > a:focus {
		color: #007BC3;
	}

	.header-v4 .navbar-default .navbar-nav > li:hover > a {
        color: #007BC3;
        border-top: solid 2px #007BC3;
    }

	/*Dropdown Menu*/
	.header-v4 .dropdown-menu { 
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0; 
		z-index: 9999 !important;
		border-bottom: solid 2px #687074; 
		border-top: solid 1px transparent; 
	}

	.header-v4 .dropdown-menu li a { 
		color: #687074; 
		font-size: 13px; 
		font-weight: 400; 
		padding: 6px 15px; 
		border-bottom: solid 1px #eee;
	}

	.header-v4 .dropdown-menu .active > a,
	.header-v4 .dropdown-menu li > a:hover {
		color: #fff;
		filter: none !important;
		background: #687074 !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header-v4 .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	.header-v4 .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}	

	.header-v4 .open > .dropdown-menu {
		display: none;
	}

	/*Search*/
	.header-v4 .navbar .nav > li > .search {
		margin: 4px 9px 0 20px;
	}

	.header-v4 .navbar .search-open {
		width: 330px;
	}
}


/*--------------------------------------------------
    [4. Header - Submenu]
----------------------------------------------------*/

/*Dropdown Submenu for BS3
------------------------------------*/
.header-v4 .dropdown-submenu { 
   position: relative; 
}

.header-v4 .dropdown > a:after,
.header-v4 .dropdown-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

@media (max-width: 991px) {
  	.header-v4 .dropdown-submenu > a:after {
      	content: " ";
  	}
}

.header-v4 .dropdown > a:after {
    top: 10px;
    right: 15px;
    content: "\f107";
}

.header-v4 .dropdown-submenu > .dropdown-menu { 
	top: 3px; 
	left: 100%; 
	margin-top: -5px; 
	margin-left: 0px; 
}

/*Submenu comes from LEFT side*/
.header-v4 .dropdown-submenu > .dropdown-menu.submenu-left {
	left: -100%;
}

.header-v4 .dropdown-submenu:hover > .dropdown-menu {  
   	display: block;
}

@media (max-width: 991px) {
	.header-v4 .dropdown-submenu > .dropdown-menu {  
		display: block;
		margin-left: 15px;
	}
}

.header-v4 .dropdown-submenu.pull-left {
	float: none;
}

.header-v4 .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.header-v4 .dropdown-menu li [class^="fa-"],
.header-v4 .dropdown-menu li [class*=" fa-"] {
	left: -3px;
	width: 1.25em;
	margin-right: 1px;
	position: relative;
	text-align: center;
	display: inline-block;
}
.header-v4 .dropdown-menu li [class^="fa-"].fa-lg,
.header-v4 .dropdown-menu li [class*=" fa-"].fa-lg {
	/* increased font size for fa-lg */
	width: 1.5625em;
}

/*Search Box
------------------------------------*/
.header-v4 .navbar .nav > li > .search {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	padding: 11px 0 12px;
	display: inline-block;
}

.header-v4 .navbar .nav > li > .search:hover {
	color: #007BC3;
}

.header-v4 .navbar .search-open {
	right: 0; 
	top: 43px; 
	display: none;
	padding: 14px; 
	position: absolute;
	background: #fcfcfc; 
	border-top: solid 1px #eee;
	box-shadow: 0 1px 3px #ddd; 
}

.header-v4 .navbar .search-open form {
	margin: 0;	
}

@media (min-width: 767px) and (max-width: 991px) {
	.header-v4 .navbar > .container .navbar-brand, 
	.header-v4 .navbar > .container-fluid .navbar-brand {
		margin-left: -10px;
	}

	.header-v4 .navbar-toggle {
		margin-right: 0;
	}

	.header-v4 .navbar .search-open {
		width: 92%;
	}
}

@media (max-width: 991px) {
	.header-v4 .navbar .nav > li > .search {
		color: #999;
		width: 35px;
		height: 34px;
		text-align: left;
		background: #eee;
		line-height: 12px;
		text-align: center;
		margin: 5px 10px 0;
		border-bottom: none;
	}

	.header-v4 .navbar .nav > li > .search:hover {
		background: #007BC3;
		color: #fff !important;
	}

	.header-v4 .navbar .search-open {
		top: 5px;
		padding: 0;
		left: 48px;
		border-top: none;
		box-shadow: none;
		background: none; 
		margin-right: 10px;
	}
}


/*--------------------------------------------------
    [5. Header - Mega Menu]
----------------------------------------------------*/

/*Mega Menu
------------------------------------*/
.header-v4 .mega-menu .nav,
.header-v4 .mega-menu .dropup,
.header-v4 .mega-menu .dropdown,
.header-v4 .mega-menu .collapse {
  	position: static;
}

.header-v4 .mega-menu .navbar-inner,
.header-v4 .mega-menu .container {
  	position: relative;
}

.header-v4 .mega-menu .dropdown-menu {
  	left: auto;
}

.header-v4 .mega-menu .dropdown-menu > li {
  	display: block;
}

.header-v4 .mega-menu .dropdown-submenu .dropdown-menu {
  	left: 100%;
}

.header-v4 .mega-menu .nav.pull-right .dropdown-menu {
  	right: 0;
}

.header-v4 .mega-menu .mega-menu-content {
  	*zoom: 1;
  	padding: 0;
}

.header-v4 .mega-menu .mega-menu-content:before,
.header-v4 .mega-menu .mega-menu-content:after {
  	content: "";
  	display: table;
  	line-height: 0;
}

.header-v4 .mega-menu .mega-menu-content:after {
  	clear: both;
}

.header-v4 .mega-menu.navbar .nav > li > .dropdown-menu:after,
.header-v4 .mega-menu.navbar .nav > li > .dropdown-menu:before {
  	display: none;
}

.header-v4 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
  	left: 0;
  	right: 0;
  	overflow: hidden;
}

@media (min-width: 992px) {
	.header-v4 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
  		margin: 0 15px;
	}
}

/*Equal Height Lists*/
@media (min-width: 992px) {
	.header-v4 .mega-menu .equal-height {
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    
	    /*-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;*/
	}

	.header-v4 .mega-menu .equal-height-in {
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	}
}

/*Mega Menu Style Effect*/
.header-v4 .mega-menu .equal-height-list h3 {
	font-size: 15px;
	font-weight: 400;
	padding: 0 10px 0 13px;
	text-transform: uppercase;
}

/*Space for only Big Resolution*/
@media (min-width: 992px) {
	.header-v4 .mega-menu .big-screen-space {
		margin-bottom: 20px;
	}
}

/*Mega Menu Content*/
@media (min-width: 992px) {
    .header-v4 .mega-menu .equal-height-in {
        padding: 20px 0;
        border-left: 1px solid #eee;
    }

    .header-v4 .mega-menu .equal-height-in:first-child {
        border-left: none;
        margin-left: -1px;
    }

    .header-v4 .mega-menu .equal-height-list {
    	width: 100%;
    }

    .header-v4 .mega-menu .equal-height-list li a {
        display: block;
        position: relative;
        border-bottom: none;
        padding: 5px 10px 5px 15px;
    }

    .header-v4 .mega-menu .equal-height-list a:hover {
    	text-decoration: none;
    }
    
    /*Dropdown Arrow Icons*/
    .header-v4 .mega-menu .mega-menu-fullwidth li a {
    	padding: 5px 10px 5px 30px;	
    }

    .header-v4 .mega-menu .mega-menu-fullwidth li a:after {
        top: 7px;
        left: 15px;
        font-size: 11px;
        content: "\f105";
        position: absolute;
        font-weight: normal;
        display: inline-block;
        font-family: FontAwesome;
    }

    /*Dropdown Arrow Icons Disable class*/
    .header-v4 .mega-menu .mega-menu-fullwidth .disable-icons li a {
    	padding: 5px 10px 5px 15px;
    }

    .header-v4 .mega-menu .mega-menu-fullwidth .disable-icons li a:after {
    	display: none;
    }
}

/*Space Effect inside the container to avoid scroll bar*/
@media (max-width: 991px) {
	.header-v4 .mega-menu .equal-height {
		margin-right: 0;
	}

	.header-v4 .mega-menu .equal-height-in {
    	padding-right: 0;
    }
}

/*Equal Hight List Style*/
@media (max-width: 991px) {
    .header-v4 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        width: auto;
    }

    .header-v4 .mega-menu .equal-height-in,
    .header-v4 .mega-menu .equal-height-list {
        display: block;
    }

    .header-v4 .mega-menu .mega-menu-fullwidth .dropdown-menu > li > ul {
        display: block;
    }

    /*Equal Height List Style*/
    .header-v4 .mega-menu .equal-height-list h3 { 
		color: #333; 
		margin: 0 0 5px;
		font-size: 13px; 
		font-weight: 400; 
		padding: 6px 25px 5px; 
		border-bottom: solid 1px #eee;
	}

	.header-v4 .mega-menu .equal-height-list li {
		margin-left: 15px;
	}

	.header-v4 .mega-menu .equal-height-list li a {
		color: #687074;
		display: block;
		font-size: 13px; 
		font-weight: 400; 
		padding: 6px 25px; 
		border-bottom: solid 1px #eee;
	}

	.header-v4 .mega-menu .equal-height-list > h3.active,
	.header-v4 .mega-menu .equal-height-list > .active > a,
	.header-v4 .mega-menu .equal-height-list > .active > a:hover,
	.header-v4 .mega-menu .equal-height-list > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}

	.header-v4 .mega-menu .equal-height-list li a:hover {
		color: #333;
		text-decoration: none;
	}
}


/*--------------------------------------------------
    [6. Header - Fixed]
----------------------------------------------------*/

/*Header*/
.header-fixed .header-v4.header-fixed-shrink {
	top: 0;
	left: 0;
	width: 100%;
	height: 95px;
	z-index: 9999;
	position: fixed;
	margin-top: -35px;
	border-bottom: none;
	box-shadow: 0 0 3px #bbb;
	background: rgba(255,255,255, 0.96); 
	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	transition: height 0.4s;
}

/*Brand*/
.header-fixed .header-v4.header-fixed-shrink .navbar-brand { 
	top: 11px;
	z-index: 1;
	position: relative;
	padding: 0 10px 10px;
}

.header-fixed .header-v4.header-fixed-shrink .navbar-brand img {
	width: 90%;
}

.header-fixed .header-v4.header-fixed-shrink .search,
.header-fixed .header-v4.header-fixed-shrink .active a {
	border-bottom: none !important;
}

.header-fixed .header-v4.header-fixed-shrink .dropdown > a:after {
	top: 19px;
}

/*Toggle*/
.header-fixed .header-v4 .navbar-toggle {
	margin-top: 5px;
}

/*Search Bar*/
.header-fixed .header-v4.header-fixed-shrink .search {
	margin-top: 12px;
	padding: 8px !important;
	color: #585f69 !important;
	background: none !important;
}

.header-fixed .header-v4.header-fixed-shrink .search-open {
	border-top: none;
	background: rgba(255,255,255, 0.9);	
}

@media (max-width: 991px) {
	/*Header*/
	.header-fixed .headerv4,
	.header-fixed .header-v4.header-fixed-shrink {
		height: 88px;
		position: relative;
	}

	/*Navbar*/
	.header-fixed .header-v4 .navbar-nav {
		padding: 6px 0;
		margin-top: 0px;
		background: #fff;
		border: solid 1px #eee;
	}
	
	.header-fixed .header-v4 .navbar-default .navbar-collapse, 
	.header-fixed .header-v4 .navbar-default .navbar-form {
		border: none;
	}

	/*Toggle*/
	.header-fixed .header-v4 .navbar-toggle {
		margin-top: 9px;
	}

	/*Search*/
	.header-fixed .header-v4.header-fixed-shrink .navbar .nav > li > .search {
		top: 5px;
		position: relative;
	}	
}

@media (min-width: 992px) {
	.header-fixed .header-v4.header-fixed-shrink .navbar-nav > li > a {
		padding: 19px 30px 18px 20px;
		border-bottom: solid 1px transparent !important;
	}

	/*Search Bar*/
	.header-fixed .header-v4.header-fixed-shrink .search-open {
		top: 59px;
	}
}