/* Add here all your css styles (customizations) */
body {
	margin-bottom: 0px;
}
.body-container {
	display: block;
	position: relative;
	min-height: 90vh;
}

/*---- Contact Us -----*/
.first-line h1 {
	color: #007BC3;
	font-size: 2.5em;
}
.main-area .contact-chat {
	padding-left: 0px;
}
.main-area .contact-chat li {
	float: left;
	list-style: none;
	line-height: 60px;
}
.main-area .contact-chat li a {
	font-size: 18px;
}
.main-area .chat-button a {
	margin-left: 0px;
	padding: 10px 20px 10px 20px;
	border: 1px inline #007BC3;
	background-color: #007BC3;
	color: #fff;
	margin-right: 40px;
}
.main-area li a:hover {
	text-decoration: none;
}

.callus-area {
	background-color: #E9EAEA;
}
/*---- End ----*/

.head h1, .head p {
	color: #000;
}

.form-block {

	background: #fff;
}

.form-block img {
	margin-bottom: 20px;
}

/* --- feedback ---- */
.feedback {
	padding-left: 7%;
	padding-right: 10%;
}

.feedback div {
	padding-left: 0px;
}
.feedback-first {
	border-bottom: 1px solid #CCC;
}
.feedback-rate {
	padding: 10px 0px 50px 0px;
	border-bottom: 1px solid #CCC;
}

.feedback-rate .col-md-7 {
	padding-right: 0px;
}

.feedback-rateselect {
	width: 100%;
}

.feedback-submit {
	padding-top: 5px;
}

.feedback-submit button {
	width: 100px;
}
/* --- End --- */

.label-avatar {
	border: transparent;
	border-radius: 20px;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	background-color: #003087;
	color: #fff;
}

form label.error {
	display: block;
	margin-top: 6px;
	padding: 0 1px;
	font-style: normal;
	font-size: 11px;
	line-height: 15px;
	color: #ee9393;
}


.file-input-group input[type=text] {
	cursor: pointer;
}

.breadcrumbs  {
    color: #fff;
    font-size: 32px;
}
.breadcrumbs .sub-letter {
	font-size: 10px;
	margin-top: -10px;
	margin-left: 50px;
}

.add-list-btn a {
	background-color: #F1F2F4;
	font-size: 21px;
	padding: 10px 10px 10px 10px;
	border-radius: 7px;
	text-decoration: none;
}

.add-list-btn i {
	font-size: 24px;
	padding-left: 10px;
	margin-top: 10px;
}

.left-area {
	padding: 30px 30px 0px 30px;
}

.right-area {
	padding: 30px 30px 0px 30px;
}

.sections {
	padding: 20px;
	background-color: #F5F7FA;
	margin-bottom: 30px;
}

.card-coupon {
	text-align: left;
	font-size: 1.2em;
	margin-top: 15px;
	padding-bottom: 15px;
}

.manage-sharing {
	font-size: 1.2em;
	color: #007BC3;
	margin-top: 15px;
	padding-bottom: 15px;
}

.left-lines {
	font-weight: bold;
	font-size: 18px;
	border-bottom: solid 1px #000;
	cursor: pointer;
}

.item-money {
	text-align: center;
	color: #007BC3;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.item-money span {
	color: #000;
	font-size: 15px;
	font-weight: bold;
}

.money-spent {
	margin-top: 30px;
}

.sections i {
	padding-top: 5px;
	padding-bottom: 5px;
}

.list-section {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	border: solid 1px #ddd;
	cursor: pointer;
	
}

.list-section i {
	font-size: 15px;
	padding-top:5px;
	padding-right: 10px;
}

.sort-section {
	padding-top: 10px;
	text-align: center;
	
}

.sort-section div {
	background-color: #E4FAF5;
}

.sort-section i {
	vertical-align: center;
	font-size: 20px;
	font-weight: weak;
	/*border: 1px solid #000;*/
}

.list-row {
	margin: 15px 0 15px 0;
	cursor: pointer;
	margin-bottom: 0;
	border-left: 3px solid #fff;
}

.list-row:hover, .list-row:active, .list-row:focus {
	background-color: #eee;
	border-left: 3px solid #007BC3;
}

.clicked {
	background-color: #eee;
	border-left: 3px solid #007BC3;
}

.first-line {
	padding-top: 10px;
	font-size: 17px;
	font-weight: bold;
}

.second-line {
	padding: 10px 0 10px 0;
}

.left-section {
	/*border-right: 1px solid #A6A9A0;*/
}

.right-section {
	text-align: center;
	height: 120px;
	line-height: 120px;
	border-left: 1px solid #A6A9A0;
}

.item-count {
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin: 25px 0 0px 35px;
	font-size: 25px;
	border: 1px solid #000;
	border-radius: 35px;
	color: #007BC3;
}

.view-more {
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	font-size: 1.2em;
	color: #007BC3;
	cursor: pointer;
}

.icon-area {
	border: 1px solid #B7BCBF;
	border-left: 3px solid #007BC3;
	display: none;
}

#loading-lists {
	margin-top: 20px;
}

.icon-area i {
	font-size: 30px;
	padding: 15px;
}

.icon-area .icon-line  a{
	text-decoration: none;
}
.button-line {
	padding-bottom: 20px;
}
.close {
	font-size: 2em;
	color: #000;
}