/*
* Default Color: #007BC3;
* Default Hover Color: #007BC3;
# rgba(114,192,44, 1);
*/
a {
	color: #007BC3;
}
a:hover {
	color: #007BC3;
}
.header-v8 .dropdown-menu {
	border-top: solid 3px #007BC3;
}
.header-v8 .dropdown-menu .active > a,
.header-v8 .dropdown-menu li > a:hover {
	color: #007BC3;
}
.header-v8 .navbar-nav .open .dropdown-menu > li > a:hover,
.header-v8 .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #007BC3;
}
.header-v8 .navbar-nav .open .dropdown-menu > .active > a,
.header-v8 .navbar-nav .open .dropdown-menu > .active > a:hover,
.header-v8 .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #007BC3;
}

.header-v8 .navbar-nav .open .dropdown-menu > .disabled > a,
.header-v8 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.header-v8 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: #007BC3;
}
.header-v8 .navbar-nav > li > a:hover {
	color: #007BC3;
}
.header-v8 .navbar-nav > .active > a,
.header-v8 .navbar-nav > .active > a:hover,
.header-v8 .navbar-nav > .active > a:focus {
	color: #007BC3 !important;
}
.header-v8 .mega-menu .mega-menu-fullwidth .dropdown-link-list li a:hover {
	color: #007BC3;
}
.footer-v8 .footer .column-one a:hover {
	color: #007BC3;
}
.footer-v8 .footer .tags-v4 a:hover {
	border-color: #007BC3;
	background-color: #007BC3;
}
.footer-v8 .footer .footer-lists li a:hover {
	color: #007BC3;
}
.footer-v8 .footer .latest-news h3 a:hover {
	color: #007BC3;
}
.footer-v8 .footer .input-group-btn .input-btn {
	background: #007BC3;
}
.footer-v8 .footer .social-icon-list li i:hover {
	background: #007BC3;
	border-color: #007BC3;
}
.blog-slider span.blog-slider-badge {
	background: #007BC3;
}
.blog-slider .blog-slider-title h2 a:hover {
	color: #007BC3;
}
.blog-ms-v2 .ms-thumb-frame-selected .ms-thumb h3 {
	color: #007BC3;
}
.tab-v4 .tab-heading h2 {
	color: #007BC3;
}
.title-v4 {
	color: #007BC3;
}
.tab-v4 .nav-tabs > .active > a,
.tab-v4 .nav-tabs > .active > a:hover,
.tab-v4 .nav-tabs > .active > a:focus {
	color: #007BC3;
}
.blog-grid h3 a:hover {
	color: #007BC3;
}
.blog-grid .blog-grid-info li a:hover {
	color: #007BC3;
}
.blog-grid a.r-more {
	color: #007BC3;
}
.blog-grid a.r-more {
	border-bottom: 1px solid #007BC3;
}
.blog-thumb .blog-thumb-desc h3 a:hover {
	color: #007BC3;
}
.blog-thumb .blog-thumb-info li a:hover {
	color: #007BC3;
	text-decoration: none;
}
.tab-v5 .nav-tabs li.active a {
	color: #007BC3;
}
.blog-thumb-v3 h3 a:hover {
	color: #007BC3;
}
.blog-video span.category-badge {
	background: #007BC3;
}
.twitter-posts .twitter-posts-in a.link {
	color: #007BC3;
}
.blog-social-shares li a:hover {
	color: #007BC3;
}
.tab-v4 .nav-tabs > li > a:hover {
	color: #007BC3;
}
.blog-cars-heading .owl-navigation .owl-btn:focus,
.blog-cars-heading .owl-navigation .owl-btn:hover {
	color: #007BC3;
}
.blog-cars-heading h2 {
	color: #007BC3;
}
.blog-thumb-v4 h3 a:hover {
	color: #007BC3;
}
.blog-thumb-v2 .blog-thumb-desc h3 a:hover {
	color: #007BC3;
}
.blog-thumb-v2 .blog-thumb-info li a:hover {
	color: #007BC3;
}
.breadcrumb li.active,
.breadcrumb li a:hover {
	color: #007BC3;
}
.single-page-quote:after {
	background: #007BC3;
}
.single-page-quote p {
	color: #007BC3;
}
.source-list li a {
	color: #007BC3;
}
.blog-grid-tags li a:hover {
	background: #007BC3;
}

.btn-u.btn-u-default {
	background: #007BC3;
}
.btn-u.btn-u-default:hover,
.btn-u.btn-u-default:focus,
.btn-u.btn-u-default:active,
.btn-u.btn-u-default.active,
.open .dropdown-toggle.btn-u.btn-u-default {
	background: #007BC3;
}
.btn-u.btn-u-split-default.dropdown-toggle {
	border-left: solid 1px #007BC3;
}

.blog-thumb .blog-thumb-hover:hover:after {
	background: rgba(114,192,44,0.9);
}
.blog-video h4 {
	background: rgba(114,192,44,0.8);
}
#topcontrol:hover {
	background: rgba(114,192,44,0.9);
}
.blog-grid .blog-grid-grad i:hover {
	background: rgba(114,192,44,1);
}
.blog-thumb-v2 .blog-thumb-grad i:hover {
	background: rgba(114,192,44,1);
}


/*added in v1.9*/
.promo-section .tp-caption.Newspaper-Subtitle, .promo-section .Newspaper-Subtitle, .promo-section .erinyen .tp-tab-title {
    color: #007BC3;
}

.tp-bannertimer {
	background: #007BC3;
}
