/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,form {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

body {
	line-height: 1;
	background: #fcfcfc;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
/*
:focus {
	outline: 0;
}
*/
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/*
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/* end reset css */

/* 2 column liquid layout */
#wpwrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
}

#wpcontent {
	height: 100%;
	padding-bottom: 50px;
}

#wpbody {
	clear: both;
	margin-left: 175px;
	padding-right: 10px;
}

.folded #wpbody {
	margin-left: 60px;
}

#wpbody-content {
	float: left;
	width: 100%;
	padding-top: 10px;
}

#adminmenu {
	float: left;
	clear: left;
	width: 160px;
	margin-top: 15px;
	margin-right: 5px;
	margin-bottom: 15px;
	margin-left: -165px;
	position: relative;
	padding: 0;
	list-style: none;
	font-size: 
}

.folded #adminmenu {
	margin-left: -45px;
}

.folded #adminmenu,.folded #adminmenu li.menu-top {
	width: 28px;
}

#footer {
	clear: both;
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* inner 2 column liquid layout */
.inner-sidebar {
	float: right;
	clear: right;
	width: 280px;
	position: relative;
}

.has-sidebar {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -340px;
}

.has-sidebar .has-sidebar-content {
	margin-right: 305px;
}

/* 2 columns main area */
#col-container {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#col-left {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 39%;
}

#col-right {
	float: right;
	clear: right;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 59%;
}

/* utility classes */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.clear {
	clear: both;
	float: none;
}

.hidden,.closed .inside,.hide-if-no-js {
	display: none;
}

/* include margin and padding in the width calculation of input and textarea */
input[type="text"],input[type="file"],input[type="password"],textarea,select
{
	border-style: solid;
	color: #333;
	padding: 2px;
	background: #ffffff;
	border: 1px solid #acacac;
}

input[type="text"]:focus,input[type="file"]:focus,input[type="checkbox"]:focus,input[type="radio"]:focus,input[type="password"]:focus,textarea:focus,select:focus,input[type="text"]:active,input[type="checkbox"]:active,input[type="radio"]:active,input[type="password"]:active,textarea:active,select:active
	{
	background: none repeat scroll 0 0 #F1F1F1;
	border-color: #acacac;
	color: #000;
}

input[type="checkbox"],input[type="radio"] {
	vertical-align: text-top;
}

.button,input[type="button"],input[type="submit"],input[type="reset"] {
	border-color: #BBBBBB;
	color: #333333;
	padding: 2px 5px;
	text-shadow: 0 1px 0 #FFFFFF;
	background: none repeat-x scroll left top #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 5px;
	cursor: pointer;
	min-width: 60px;
}

.button:hover,input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover
.button:focus,input[type="button"]:focus,input[type="submit"]:focus,input[type="reset"]:focus
	{
	border-color: #666;
	color: #000;
}

/* styles for use by people extending the APNLink WIP Sytems interface */
html,body {
	height: 100%;
}

body,td {
	font: 13px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",
		sans-serif;
}

p {
	margin: 1em 0;
	padding: 0;
}

blockquote {
	margin: 1em;
}

label {
	cursor: pointer;
}

li,dd {
	margin-bottom: 6px;
}

p,li,dl,dd,dt {
	line-height: 140%;
}

textarea, input {
font: 13px/19px "Lucida Grande", Verdana, Arial, Bitstream, Vera, Sans", sans-serif;
margin: 1px;
padding:3px;
}

h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin: .67em 0;
}

h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: .83em 0;
}

h3 {
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	margin: 1em 0;
}

h4 {
	display: block;
	font-weight: bold;
	margin: 1.33em 0;
}

h5 {
	display: block;
	font-size: 0.83em;
	font-weight: bold;
	margin: 1.67em 0;
}

h6 {
	display: block;
	font-size: 0.67em;
	font-weight: bold;
	margin: 2.33em 0;
}

.subsubsub {
	list-style: none;
	margin: 8px 0 5px;
	padding: 0;
	white-space: nowrap;
	font-size: 11px;
	float: left;
}

.subsubsub a {
	line-height: 2;
	padding: .2em;
	text-decoration: none;
}

.subsubsub a .count,.subsubsub a.current .count {
	color: #999;
	font-weight: normal;
}

.subsubsub a.current {
	font-weight: bold;
	background: none;
	border: none;
}

.subsubsub li {
	display: inline;
	margin: 0;
	padding: 0;
}

.widefat {
	border-width: 1px;
	border-style: solid;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.widefat * {
	word-wrap: break-word;
}

.widefat a {
	text-decoration: none;
}

.widefat td,.widefat th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 11px;
	vertical-align: text-top;
}

.widefat td {
	padding: 7px 7px 5px;
	vertical-align: top;
}

.widefat thead tr th:first {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

.widefat thead tr th:last {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.widefat tfoot tr th:first {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widefat tfoot tr th:last {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.widefat td p {
	font-size: 11px;
}

.widefat th {
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
}

.widefat th input {
	margin: 0 0 0 8px;
	padding: 0;
	vertical-align: text-top;
}

.widefat .check-column {
	width: 2.2em;
	padding: 0;
}

.widefat tbody th.check-column {
	padding: 7px 0 22px;
}

.widefat .num,.column-comments,.column-links,.column-posts,.column-parent
	{
	text-align: center;
}

.widefat th#comments {
	vertical-align: middle;
}

.wrap {
	margin: 10px 15px 10px 5px;
	border-bottom: 1px #d6d6d6 solid;
	height: 35px;
}

.wrap_noheader {
	margin: 0 15px 0 5px;
	width: 800px;
}

.updated p,.error p {
	margin: 0.5em 0;
	line-height: 1;
	padding: 2px;
}

.wrap .updated,.wrap .error {
	margin: 5px 0;
}

.wrap_noheader .updated,.wrap_noheader .error {
	margin: 5px 0;
}

.wrap_noheader h2 {
	font: italic normal normal 24px/29px Georgia, "Times New Roman",
		"Bitstream Charter", Times, serif;
	margin: 0;
	padding: 14px 15px 3px 0;
	line-height: 35px;
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}

.wrap_noheader h2.long-header {
	padding-right: 0;
}

.wrap h2 {
	font: italic normal normal 24px/29px Georgia, "Times New Roman",
		"Bitstream Charter", Times, serif;
	margin: 0;
	padding: 0;
	line-height: 35px;
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}

.wrap h2.long-header {
	padding-right: 0;
}

.error {
    color: #FF3333;
    display: block;
    font-size: 0.9em;
}

.message {
    color: #3333ff;
    display: block;
    font-size: 1.1em;
}

table.contents_list {
	background: none repeat scroll 0 0 #CCCCCC;
	clear: both;
	float: none;
	width: 100%;
	margin-top: 5px;
}

table.contents_list .headerRow {
	background: none repeat scroll 0 0 #DFDFDF;
	height: 30px;
}

table.contents_list .headerRow td {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

table.contents_list .headerRow a {
	text-decoration: underline;
}

table.contents_list .dataTableRow {
	background: none repeat scroll 0 0 #F9F9F8;
	height: 30px;
}

table.contents_list .dataTableRow:hover {
	background: none repeat scroll 0 0 #FFF3C6;
}

table.contents_list .dataTableRow td {
	padding: 5px;
}

table.contents_list .emptyRow {
	background: none repeat scroll 0 0 #FDFDFC;
	height: 20px;
}

#EditForm {
	width: 750px;
	position: relative;
}

h3 {
	margin: 0;
}

table.contents_edit {
	
}

table.contents_edit td.label{
	min-width: 120px;
	vertical-align: top;
	padding-top: 5px;
}

.database_error {
	display: block;
	padding: 5px;
	border: 1px #dfdfdf solid;
	background: #FFFFD3;
	font-size: 0.9em;
}

form.edit_form {
	width: 600px;
}

.clearboth {
	clear: both;
}

#submenu {
	clear: both;
	margin: 5px 0 20px 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	height: 25px;
	list-style: none;
}

#submenu li {
	float: left;
	margin-left: 15px;
	padding: 5px;
	height: 15px;
	font-size: 15px;
}

#submenu li a {
	text-decoration: none;
}

#submenu li.selected {
	border: 1px #ccc solid;
	border-bottom: none;
	background: #fff;
}

#submenu li.back{
	float: right;
	font-size: 0.9em;
	font-style: italic;
}

#submenu li.selected a {
	color: #ff6666;
}