/* ------ New Footer ----- */
.global-footer {
	position: relative;
    padding: 40px 0;
    z-index: 2;
    background: #fff;
    text-align: left;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
}
.global-footer ul {
	display: block;
	clear: both;
	margin: 0;
	padding-left: 0;
}

ul.footer-main li {
	margin: 0;
}

.global-footer ul li {
	display: inline-block;
	list-style-type: none;
	line-height: 26px;
	vertical-align: middle;
	margin: 0 18px 0 0;
}

.global-footer hr {
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: linear-gradient(to right, #c0c0c0 50%, rgba(255, 255, 255, 0) 40%);
    background-position: top;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    height: 1px;
    border-top: 0px;
    border-bottom: 0px;
}

.global-footer ul li a {
    display: block;
    padding: 9px 0;
    font-weight: bold;
    text-decoration: none;
}

.global-footer li a:hover {
    color: #444;
    text-decoration: underline;
}

.global-footer .footer-secondary {
	float: right;
	padding-top: 8px;
	clear: none;
}

.global-footer .footer-secondary li a {
	font-weight: 400;
	padding:0 
}


