/*Search Block Version 2
------------------------------------*/
.search-block-v2 {
	margin-bottom: 50px;
	padding: 50px 0 58px;
	border-bottom: 1px solid #eee;
	background: url(../../../img/patterns/breadcrumbs.png) repeat;
}

.search-block-v2 h2 {
	font-size: 24px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 18px;
	text-transform: uppercase;
}

/*S-Results
------------------------------------*/
/*Related-search*/
.s-results .related-search  {
	border-left: 1px solid #eee;
}

.s-results .related-search h3 {
	color: #999;
	display: block;
	font-size: 14px;
	margin: 0 0 10px;
	line-height: 20px;
	text-transform: uppercase;
}

.s-results .related-search li {
	margin: 4px 0;
}

.s-results .related-search li a {
	text-transform: capitalize;
}

.s-results .related-search a.see-all {
	color: #999;
}

.s-results .related-search a:hover {
	color: #007BC3;
}

.s-results .related-search hr {
	margin: 20px 0;
}

.s-results .blog-photos {
	margin-bottom: 0;
}

.s-results .blog-photos li img {
	width: 34px;
	height: 34px;
}

/*Results-number*/
.s-results .results-number {
	color: #999;	
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;
}

/*Inner-results*/
.s-results .inner-results {
	clear: both;
}

.s-results .inner-results h3 {
	font-size: 18px;
	margin-bottom: 3px;
	text-transform: capitalize;
}

.s-results .inner-results h3 a {
	color: #555;
}

.s-results .inner-results h3 a:hover {
	color: #007BC3;
}

.s-results .inner-results img {
	float: right;
	width: 85px;
	height: auto;
	margin: 0 0 10px 10px;
}

/*up-ul*/
.s-results .up-ul {
	margin-bottom: 4px;
}

.s-results .up-ul li a {
	color: #999;
}

.s-results .up-ul li a:hover {
	color: #007BC3;
}

/*btn-group 'dropdown'*/
.s-results .inner-results .btn {
	top: -1px;
	padding: 0;
	position: relative;
}

.s-results .inner-results .btn-default {
	color: #999;
	border: none;
	font-size: 13px;
}

.s-results .inner-results .btn:hover,
.s-results .inner-results .btn:focus{
	box-shadow: none;
	background: inherit;
}

.s-results .inner-results .btn-u-default {
	color: #999;
	border: none;
}

.s-results .inner-results .btn-u-xs {
	padding: 0;
}

.s-results .inner-results .btn-u-default i {
	font-size: 14px;
}

.s-results .inner-results p {
	margin-bottom: 5px;
}

/*down-ul*/
.s-results .down-ul {
	margin-bottom: 0;
}

.s-results .down-ul li {
	color: #999;
}

.s-results .down-ul li a {
	color: #007BC3;
}

.s-results .star-vote {
	margin-right: 0px;
}

.s-results .star-vote li {
	padding: 0;
}

@media (max-width: 992px) {
	/*Related-search*/
	.s-results .related-search  {
		border-left: none;
		margin-bottom: 30px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}	
	
	.s-results .related-search hr {
		margin: 10px 0;
		visibility: hidden;
	}
}	
	
@media (max-width: 500px) {
	/*Inner-results*/
	.s-results .inner-results img {
		width: 60px;
		height: auto;
	}

	.s-results .inner-results .overflow-a p {
		display: none;
	}
}